.sIconBoxWrap {
  border: 1px solid #f4f4f4;
  text-align: center;
  padding: 30px;
  transition: 0.6s;
}
.sIconBoxWrap:hover {
  box-shadow: 0 3px 25px 4px rgb(0 0 0 / 6%);
  -webkit-box-shadow: 0 3px 25px 4px rgb(0 0 0 / 6%);
  -moz-box-shadow: 0 3px 25px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid transparent;
}
.sIconBox_icon {
  font-size: 46px;
  margin-bottom: 15px;
  color: #777777;
}
.sIconBox_title {
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}
.sIconBox_desc {
  font-size: 14px;
  color: #777777;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
