@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Global font style */
body {
  font-family: "Poppins", sans-serif !important;
  color: #777;
}
.textUppercase {
  text-transform: uppercase !important;
}
.textExtraBold {
  font-weight: 900 !important;
}
.textBold {
  font-weight: 700 !important;
}
.textSemiBold {
  font-weight: 600 !important;
}
.textMedium {
  font-weight: 500 !important;
}
.textRegular {
  font-weight: 400 !important;
}
.textThin {
  font-weight: 300 !important;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* Global text color style */

.hoverColorPrimary:hover {
  color: #0d6efd !important;
  transition: 0.4s;
}
.colorLight {
  color: #777 !important;
}
.colorSecondary {
  color: #555 !important;
}
.colorSecondaryAlt {
  color: #444 !important;
}
.colorAccent {
  color: #0d6efd !important;
}

/* Global background color */
.hoverBgPrimary:hover {
  background-color: #0d6efd !important;
  transition: 0.4s;
}
.sBgLight {
  background-color: #f8f8f8 !important;
}
/* Global font size style */
.font-20 {
  font-size: 20px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-12 {
  font-size: 12px !important;
}

/* Global heading style */
.s-h2 {
  font-size: 30px;
  font-weight: 800;
}

/* Global body text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #555;
}
p {
  color: #777;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #0d6efd;
}

/* GLobal section style */
.sSection {
  padding: 70px 0;
}
